In [27]:
import pandas as pd
df = pd.read_csv('data.txt', encoding='windows-1251')

In [28]:
user_columns = ['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 
                'DR_Apt', 'DR_NDrugs', 'DR_Kol', 'DR_CZak', 'DR_CRoz', 
                'DR_SDisc', 'DR_TPay', 'DR_CDrugs',  
                'DR_Suppl','DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl',
                'DR_VZak', 'DR_Pos']

df = df[user_columns]

In [29]:
df.columns = ['date', 'time', 'n_chk', 'n_doc', 'apt', 'name_drugs',
       'amnt', 'purch_price', 'retail_price', 'disc', 'pay_type', 'drug_id',
       'supplier', 'disc_id', 'disc_barcode', 'employee', 'vzak', 'pos']

In [30]:
df['disc_barcode'] = df['disc_barcode'].astype('str').replace(r'\.0', '', regex=True)
df['date']= pd.to_datetime(df['date']).dt.strftime('%d.%m.%Y')
df['vzak'] = df['vzak'].astype('str').replace('1', 'offline').replace('2', 'online')
df = df.fillna(0)

In [32]:
df.head(10)

,date,time,n_chk,n_doc,apt,name_drugs,amnt,purch_price,retail_price,disc,pay_type,drug_id,supplier,disc_id,disc_barcode,employee,vzak,pos
0,11.08.2022,10:15:35,2173,2004598,2,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,1.0,41.08,51.0,12.0,18,45399,Катрен г.Химки,925.0,200000000492,205,offline,1.0
1,11.08.2022,10:27:46,2174,2004598,2,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,1.0,18.61,31.0,3.0,15,261519,Катрен г.Химки,9.0,200010010204,205,offline,1.0
2,11.08.2022,10:27:46,2174,2004598,2,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,1.0,132.69,209.0,20.0,15,460864,Катрен г.Химки,9.0,200010010204,205,offline,2.0
3,11.08.2022,10:27:46,2174,2004598,2,СОФЬЯ ГХК КРЕМ Д/ТЕЛА ХОНДРОИТИН+ГЛЮКОЗАМИН 12...,1.0,133.65,210.0,21.0,15,172823,Катрен г.Химки,9.0,200010010204,205,offline,3.0
4,11.08.2022,10:33:56,2175,2004598,2,ГАЛВУС 50МГ. №28 ТАБ. /НОВАРТИС/,1.0,709.95,787.0,49.0,18,79056,Катрен г.Химки,925.0,200000000492,205,offline,1.0
5,11.08.2022,10:40:38,2176,2004598,2,БИСОПРОЛОЛ 5МГ. №60 ТАБ. П/П/О /ВЕРТЕКС/,1.0,152.90,182.0,9.0,18,187304,Пульс,9.0,200010001947,205,offline,1.0
6,11.08.2022,10:40:38,2176,2004598,2,ТРИХОПОЛ 250МГ. №20 ТАБ. /ПОЛЬФАРМА/,1.0,67.94,85.0,4.0,18,1261,ГРАНД КАПИТАЛ СМОЛЕНСК ООО ФК,9.0,200010001947,205,offline,2.0
7,11.08.2022,10:52:52,2177,2004598,2,НОРВАСК 5МГ. №30 ТАБ. /ПФАЙЗЕР/АПДЖОН/,1.0,157.76,189.0,9.0,18,2566,Катрен г.Химки,9.0,200010013331,205,offline,3.0
8,11.08.2022,10:52:52,2177,2004598,2,НОРВАСК 5МГ. №30 ТАБ. /ПФАЙЗЕР/АПДЖОН/,1.0,159.40,191.0,9.0,18,2566,Катрен г.Химки,9.0,200010013331,205,offline,4.0
9,11.08.2022,10:52:52,2177,2004598,2,СОТАГЕКСАЛ 80МГ. №20 ТАБ. /ГЕКСАЛ АГ/,1.0,71.97,90.0,4.0,18,5155,Катрен г.Химки,9.0,200010013331,205,offline,5.0

In [ ]:
# this function shows structure of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4462 entries, 0 to 4461
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          4462 non-null   object
 1   time          4462 non-null   object
 2   n_chk         4462 non-null   int64
 3   n_doc         4462 non-null   int64
 4   apt           4462 non-null   int64
 5   name_drugs    4462 non-null   object
 6   amnt          4462 non-null   float64
 7   purch_price   4462 non-null   float64
 8   retail_price  4462 non-null   float64
 9   disc          4462 non-null   float64
 10  pay_type      4462 non-null   int64
 11  drug_id       4462 non-null   int64
 12  supplier      4462 non-null   object
 13  disc_id       4462 non-null   float64
 14  disc_barcode  4462 non-null   object
 15  employee      4462 non-null   int64
 16  vzak          4462 non-null   object
 17  pos           4462 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 627.6+ KB

In [ ]:
# i can use describe method to get most of the descriptive parameters of the dataframe
df.describe()
# this method only shows non-objective type columns - only int and float type columns will be shown

,n_chk,n_doc,apt,amnt,purch_price,retail_price,disc,pay_type,drug_id,disc_id,employee,pos
count,4462.000000,4.462000e+03,4462.000000,4462.000000,4462.000000,4462.000000,4462.000000,4462.000000,4.462000e+03,4462.000000,4462.000000,4462.000000
mean,4903.135365,1.084300e+07,10.838861,1.027755,241.639034,306.049148,10.561094,16.896011,2.592271e+05,61.930524,91.737786,2.681085
std,1839.700082,6.107181e+06,6.107773,0.538485,454.557985,532.173394,31.368047,1.446943,2.990739e+05,219.631064,108.081697,2.748813
min,1698.000000,2.004595e+06,2.000000,0.007220,0.010000,0.010000,0.000000,15.000000,3.000000e+00,0.000000,25.000000,1.000000
25%,4187.000000,6.003620e+06,6.000000,1.000000,36.645000,52.000000,0.000000,15.000000,2.906000e+04,0.000000,37.000000,1.000000
50%,4877.500000,1.100704e+07,11.000000,1.000000,103.785000,137.000000,0.000000,18.000000,1.873040e+05,0.000000,53.000000,2.000000
75%,5472.750000,1.800254e+07,18.000000,1.000000,299.060000,391.750000,7.000000,18.000000,3.775890e+05,9.000000,123.000000,3.000000
max,8490.000000,1.800254e+07,18.000000,20.000000,11851.130000,12345.000000,650.000000,18.000000,1.504498e+06,941.000000,605.000000,24.000000

In [35]:
# to work with categorical data i need to use construction like this
df['pay_type'].value_counts()

pay_type
18    2820
15    1642
Name: count, dtype: int64

In [37]:
# i also can call column by .
df.pay_type.value_counts()

pay_type
18    2820
15    1642
Name: count, dtype: int64

In [44]:
df.apt.value_counts().sort_values()

apt
7      153
15     177
17     243
13     322
6      511
11     870
2      979
18    1207
Name: count, dtype: int64

In [ ]:
# % from all
df.apt.value_counts(normalize=True)

apt
18    0.270506
2     0.219408
11    0.194980
6     0.114523
13    0.072165
17    0.054460
15    0.039668
7     0.034290
Name: proportion, dtype: float64