In [2]:
import pandas as pd

In [ ]:
# i can create dataframe from dictionary or from list of lists

In [ ]:
# in case with dicts keys will become column names and values from each key will be a value in it
d = {
    'name': ['John', 'Marry'],
    'age' : ['28', '30']
}

pd.DataFrame(d)

    name age
0   John  28
1  Marry  30

In [5]:
# in case with list of lists columns will be nameless, each list will take a row
a = [
    [1, 2, 3, 4], ['a', 'b', 'c']
]
pd.DataFrame(a)

   0  1  2    3
0  1  2  3  4.0
1  a  b  c  NaN

In [11]:
d1 = pd.DataFrame(d)
d2 = pd.DataFrame(d)
l1 = pd.DataFrame(a)

In [ ]:
# i can compare identically-labeled (both index and columns) dataframes
d1 == d2

   name   age
0  True  True
1  True  True

In [13]:
# if i want to have only answer i can use this
d1.equals(d2)

True

In [15]:
# here is the way of making random sample from df
df = pd.read_csv('data.txt', encoding='windows-1251')
df.sample(3)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,...,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
1971,2022-08-11,13:15:55,5403,18002536,18,9907,Розничная реализация,18,103450,ГАЛВУС МЕТ 50МГ.+850МГ. №30 ТАБ. П/П/О,...,Новартис Фарма АГ,1.0,1391.91,1629.0,114.0,9.0,2.000100e+11,47,1,3.0
834,2022-08-11,10:36:28,8277,2004595,2,22569,Розничная реализация,18,419205,"СФМ СИСТЕМА Д/ПЕРЕЛ. Р-РОВ ИГЛА G21 0,8Х40ММ №...",...,SFM HOSPITAL PRODUCTS GMBH,10.0,25.61,42.0,0.0,NaN,NaN,123,1,6.0
3472,2022-08-12,09:56:45,4856,11007039,11,23925,Розничная реализация,18,6145,АСКОРИЛ ЭКСПЕКТОРАНТ 100МЛ. СИРОП ФЛ.,...,GLENMARK PHARMACEUTICALS LTD (ГЛЕНМАРК ),1.0,303.40,410.0,28.0,9.0,2.000100e+11,110,1,1.0