In [2]:
import pandas as pd

In [4]:
# using encoding because file has cyrillic characters
df = pd.read_csv('data.txt', encoding='windows-1251')

In [15]:
# display n-amount of first rows of dataframe (default 5)
df.head(10)

       DR_Dat    DR_Tim  ...  DR_VZak  DR_Pos
0  2022-08-11  10:15:35  ...        1     1.0
1  2022-08-11  10:27:46  ...        1     1.0
2  2022-08-11  10:27:46  ...        1     2.0
3  2022-08-11  10:27:46  ...        1     3.0
4  2022-08-11  10:33:56  ...        1     1.0
5  2022-08-11  10:40:38  ...        1     1.0
6  2022-08-11  10:40:38  ...        1     2.0
7  2022-08-11  10:52:52  ...        1     3.0
8  2022-08-11  10:52:52  ...        1     4.0
9  2022-08-11  10:52:52  ...        1     5.0

[10 rows x 21 columns]

In [21]:
# display n-amount of last rows (default 5)
df.tail()

          DR_Dat    DR_Tim  ...  DR_VZak  DR_Pos
4457  2022-08-12  21:40:17  ...        1    1.00
4458  2022-08-12  21:40:59  ...        1    1.00
4459  2022-08-12  21:43:48  ...        1    1.00
4460  2022-08-12  21:44:46  ...        1    1.00
4461  2022-08-12  21:46:08  ...        1    1.00

[5 rows x 21 columns]

In [ ]:
pd.set_option('display.max_columns', 5)
pd.describe_option() # describes all available options
pd.set_option('display.float_format', '{:.2f}'.format) # i can change format of the data

In [ ]:
df.dtypes # shows type of data in columns

DR_Dat         object
DR_Tim         object
DR_NChk         int64
DR_NDoc         int64
DR_Apt          int64
DR_Kkm          int64
DR_TDoc        object
DR_TPay         int64
DR_CDrugs       int64
DR_NDrugs      object
DR_Suppl       object
DR_Prod        object
DR_Kol        float64
DR_CZak       float64
DR_CRoz       float64
DR_SDisc      float64
DR_CDisc      float64
DR_BCDisc     float64
DR_TabEmpl      int64
DR_VZak         int64
DR_Pos        float64
dtype: object