In [2]:
import pandas as pd

In [3]:
# using encoding because file has cyrillic characters
df = pd.read_csv('data.txt', encoding='windows-1251')

In [4]:
# display n-amount of first rows of dataframe (default 5)
df.head(10)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,...,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-11,10:15:35,2173,2004598,2,22577,Розничная реализация,18,45399,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,...,Д-р Редди с Лабораторис Лтд / Dr.REDDY's,1.0,41.08,51.0,12.0,925.0,2.000000e+11,205,1,1.0
1,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,261519,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,...,ФЛОРА КАВКАЗА ОАО,1.0,18.61,31.0,3.0,9.0,2.000100e+11,205,1,1.0
2,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,460864,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,...,КОРОЛЕВФАРМ ООО,1.0,132.69,209.0,20.0,9.0,2.000100e+11,205,1,2.0
3,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,172823,СОФЬЯ ГХК КРЕМ Д/ТЕЛА ХОНДРОИТИН+ГЛЮКОЗАМИН 12...,...,КОРОЛЕВФАРМ ООО,1.0,133.65,210.0,21.0,9.0,2.000100e+11,205,1,3.0
4,2022-08-11,10:33:56,2175,2004598,2,22577,Розничная реализация,18,79056,ГАЛВУС 50МГ. №28 ТАБ. /НОВАРТИС/,...,Новартис Фарма АГ,1.0,709.95,787.0,49.0,925.0,2.000000e+11,205,1,1.0
5,2022-08-11,10:40:38,2176,2004598,2,22577,Розничная реализация,18,187304,БИСОПРОЛОЛ 5МГ. №60 ТАБ. П/П/О /ВЕРТЕКС/,...,ВЕРТЕКС,1.0,152.90,182.0,9.0,9.0,2.000100e+11,205,1,1.0
6,2022-08-11,10:40:38,2176,2004598,2,22577,Розничная реализация,18,1261,ТРИХОПОЛ 250МГ. №20 ТАБ. /ПОЛЬФАРМА/,...,Польфарма Фармацевтический завод С.А.,1.0,67.94,85.0,4.0,9.0,2.000100e+11,205,1,2.0
7,2022-08-11,10:52:52,2177,2004598,2,22577,Розничная реализация,18,2566,НОРВАСК 5МГ. №30 ТАБ. /ПФАЙЗЕР/АПДЖОН/,...,PFIZER,1.0,157.76,189.0,9.0,9.0,2.000100e+11,205,1,3.0
8,2022-08-11,10:52:52,2177,2004598,2,22577,Розничная реализация,18,2566,НОРВАСК 5МГ. №30 ТАБ. /ПФАЙЗЕР/АПДЖОН/,...,PFIZER,1.0,159.40,191.0,9.0,9.0,2.000100e+11,205,1,4.0
9,2022-08-11,10:52:52,2177,2004598,2,22577,Розничная реализация,18,5155,СОТАГЕКСАЛ 80МГ. №20 ТАБ. /ГЕКСАЛ АГ/,...,SALUTAS PHARMA GMBH FOR ESPARM ( САЛЮТАС ),1.0,71.97,90.0,4.0,9.0,2.000100e+11,205,1,5.0

In [5]:
# display n-amount of last rows (default 5)
df.tail()

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,...,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
4457,2022-08-12,21:40:17,5690,18002542,18,9907,Розничная реализация,18,463100,КЕТОРОЛ ЭКСПРЕСС 10МГ. №20 ТАБ. ДИСПЕРГ. /Д-Р ...,...,Д-р Редди с Лабораторис Лтд / Dr.REDDY's,1.0,47.88,75.0,0.0,NaN,NaN,48,1,1.0
4458,2022-08-12,21:40:59,5691,18002542,18,9907,Розничная реализация,18,112158,АНТИПОЛИЦАЙ ВАЙТ №6 ТАБ.,...,ИНАТ-ФАРМА,1.0,59.51,93.0,0.0,NaN,NaN,48,1,1.0
4459,2022-08-12,21:43:48,5692,18002542,18,9907,Розничная реализация,18,260990,СИЛДЕНАФИЛ-СЗ 50МГ. №10 ТАБ. П/П/О /СЕВЕРНАЯ З...,...,Северная Звезда,1.0,297.74,396.0,0.0,NaN,NaN,48,1,1.0
4460,2022-08-12,21:44:46,5693,18002542,18,9907,Розничная реализация,18,41512,ТОБРАЗОН 5МЛ. ГЛ.КАПЛИ ФЛ.,...,Кадила Фармасьютикалз Лтд ( CADILA ),1.0,322.06,419.0,0.0,NaN,NaN,48,1,1.0
4461,2022-08-12,21:46:08,5694,18002542,18,9907,Розничная реализация,15,25673,БЕЛЬВЕДЕР ЛАК П/ОБГРЫЗАНИЯ НОГТЕЙ 8МЛ. [BELWEDER],...,BELWEDER NORD SIA,1.0,238.62,346.0,34.0,9.0,2.000100e+11,48,1,1.0

In [6]:
pd.set_option('display.max_columns', 5)
pd.describe_option() # describes all available options
pd.set_option('display.float_format', '{:.2f}'.format) # i can change format of the data

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table, or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 5]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
future.infer_string Whether to infer sequence of str objects as pyarrow string dtype, which will be the default in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
future.no_silent_downcasting Whether to opt-in to the future behavior which will *not* silently downcast results from Series and DataFrame `where`, `mask`, and `clip` methods. Silent downcasting will be removed in pandas 3.0 (at which point this option will be deprecated).
    [default: False] [currently: False]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf, calamine.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd, calamine.
    [default: auto] [currently: auto]
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl, calamine.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.copy_on_write : bool
    Use new copy-view behaviour using Copy-on-Write. Defaults to False,
    unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
    (if set to "1" for True, needs to be set before pandas is imported).
    [default: False] [currently: False]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
    (Deprecated, use `` instead.)
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype.
    [default: auto] [currently: auto]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).

    This option is deprecated in pandas 2.1.0 and will be removed in 3.0.
    [default: False] [currently: False]
    (Deprecated, use `` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

In [7]:
df.dtypes # shows type of data in columns

DR_Dat         object
DR_Tim         object
DR_NChk         int64
DR_NDoc         int64
DR_Apt          int64
DR_Kkm          int64
DR_TDoc        object
DR_TPay         int64
DR_CDrugs       int64
DR_NDrugs      object
DR_Suppl       object
DR_Prod        object
DR_Kol        float64
DR_CZak       float64
DR_CRoz       float64
DR_SDisc      float64
DR_CDisc      float64
DR_BCDisc     float64
DR_TabEmpl      int64
DR_VZak         int64
DR_Pos        float64
dtype: object

In [8]:
# shows amount of columns and rows
df.shape

(4462, 21)

In [9]:
# shows amount of elements
df.size

93702

In [10]:
df.columns

Index(['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 'DR_Apt', 'DR_Kkm', 'DR_TDoc',
       'DR_TPay', 'DR_CDrugs', 'DR_NDrugs', 'DR_Suppl', 'DR_Prod', 'DR_Kol',
       'DR_CZak', 'DR_CRoz', 'DR_SDisc', 'DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl',
       'DR_VZak', 'DR_Pos'],
      dtype='object')

In [11]:
# here is a list with columns that ill need, i also changed their order
user_columns = ['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 
                'DR_Apt', 'DR_NDrugs', 'DR_Kol', 'DR_CZak', 'DR_CRoz', 
                'DR_SDisc', 'DR_TPay', 'DR_CDrugs',  
                'DR_Suppl','DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl',
                'DR_VZak', 'DR_Pos']

In [12]:
# than i can just add here this list
df[['DR_Dat', 'DR_Tim']] # i can also write them individualy like this
edited_df = df[user_columns]
edited_df.head()

       DR_Dat    DR_Tim  ...  DR_VZak  DR_Pos
0  2022-08-11  10:15:35  ...        1    1.00
1  2022-08-11  10:27:46  ...        1    1.00
2  2022-08-11  10:27:46  ...        1    2.00
3  2022-08-11  10:27:46  ...        1    3.00
4  2022-08-11  10:33:56  ...        1    1.00

[5 rows x 18 columns]

In [13]:
# to change names of the columns i need to rename them with method columns
edited_df.columns = ['date', 'time', 'n_chk', 'n_doc', 'apt', 'name_drugs',
       'amnt', 'purch_price', 'retail_price', 'disc', 'pay_type', 'drug_id',
       'supplier', 'disc_id', 'disc_barcode', 'employee', 'vzak', 'pos']

In [14]:
edited_df.head()

         date      time  ...  vzak  pos
0  2022-08-11  10:15:35  ...     1 1.00
1  2022-08-11  10:27:46  ...     1 1.00
2  2022-08-11  10:27:46  ...     1 2.00
3  2022-08-11  10:27:46  ...     1 3.00
4  2022-08-11  10:33:56  ...     1 1.00

[5 rows x 18 columns]

In [15]:
edited_df.dtypes

date             object
time             object
n_chk             int64
n_doc             int64
apt               int64
name_drugs       object
amnt            float64
purch_price     float64
retail_price    float64
disc            float64
pay_type          int64
drug_id           int64
supplier         object
disc_id         float64
disc_barcode    float64
employee          int64
vzak              int64
pos             float64
dtype: object

In [16]:
# if i need to change type of the column i car write like this
edited_df['disc_barcode'].astype('str').replace(r'\.0', '', regex = True) # last part with replace is example of using regex without re

0       200000000492
1       200010010204
2       200010010204
3       200010010204
4       200000000492
            ...
4457             nan
4458             nan
4459             nan
4460             nan
4461    200010027618
Name: disc_barcode, Length: 4462, dtype: object

In [17]:
# after changing type i need to rewrite initial dataframe 
edited_df['disc_barcode'] = edited_df['disc_barcode'].astype('str').replace(r'\.0', '', regex = True)

/var/folders/m2/02db1vqj4dn9n70qsljztby00000gn/T/ipykernel_97134/2565856823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edited_df['disc_barcode'] = edited_df['disc_barcode'].astype('str').replace(r'\.0', '', regex = True)

In [18]:
# if i want to change format of the date in date column i can use this
pd.to_datetime(edited_df['date']).dt
# by using dt i get access to many methods and functions similar to datetime library, one of them is strftime()
pd.to_datetime(edited_df['date']).dt.strftime('%d.%m.%Y')
# to change it in initial dataframe i need to rewrite it
edited_df['date']= pd.to_datetime(edited_df['date']).dt.strftime('%d.%m.%Y')

/var/folders/m2/02db1vqj4dn9n70qsljztby00000gn/T/ipykernel_97134/2960017494.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edited_df['date']= pd.to_datetime(edited_df['date']).dt.strftime('%d.%m.%Y')

In [19]:
edited_df.head()

         date      time  ...  vzak  pos
0  11.08.2022  10:15:35  ...     1 1.00
1  11.08.2022  10:27:46  ...     1 1.00
2  11.08.2022  10:27:46  ...     1 2.00
3  11.08.2022  10:27:46  ...     1 3.00
4  11.08.2022  10:33:56  ...     1 1.00

[5 rows x 18 columns]

In [20]:
# this way i can get unique values from column
edited_df['vzak'].unique()

array([1, 2])

In [21]:
# if i want to replace values in column i need to do this
edited_df['vzak'] = edited_df['vzak'].astype('str').replace('1', 'offline').replace('2', 'online')
# firstly i changed type to str, then replaced values with regular replace function

/var/folders/m2/02db1vqj4dn9n70qsljztby00000gn/T/ipykernel_97134/1674187262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edited_df['vzak'] = edited_df['vzak'].astype('str').replace('1', 'offline').replace('2', 'online')

In [22]:
edited_df.vzak

0       offline
1       offline
2       offline
3       offline
4       offline
         ...
4457    offline
4458    offline
4459    offline
4460    offline
4461    offline
Name: vzak, Length: 4462, dtype: object

In [ ]:
# but more efficient and correct way of recoding values is using map() function
replace = {        # 1st i need to create dict where keys are values i need to recode and values is what they will become
    'offline' : 1,
    'online' : 0
}
edited_df.vzak.map(replace) # map function takes this dict

0       1
1       1
2       1
3       1
4       1
       ..
4457    1
4458    1
4459    1
4460    1
4461    1
Name: vzak, Length: 4462, dtype: int64

In [24]:
edited_df.head()

         date      time  ...     vzak  pos
0  11.08.2022  10:15:35  ...  offline 1.00
1  11.08.2022  10:27:46  ...  offline 1.00
2  11.08.2022  10:27:46  ...  offline 2.00
3  11.08.2022  10:27:46  ...  offline 3.00
4  11.08.2022  10:33:56  ...  offline 1.00

[5 rows x 18 columns]

In [25]:
# if i want to see if dataframe has empty spaces (na) i need to use function isna()
edited_df.isna() # it will show all dataframe with all elements listed as True or False
edited_df.isna().any() # this will show if any column has NA

date            False
time            False
n_chk           False
n_doc           False
apt             False
name_drugs      False
amnt            False
purch_price     False
retail_price    False
disc            False
pay_type        False
drug_id         False
supplier        False
disc_id          True
disc_barcode    False
employee        False
vzak            False
pos             False
dtype: bool

In [26]:
# if i want to see exactly where are NA elements i can write like this
edited_df[edited_df.isna().values.any(axis = 1)] # this will check by row

            date      time  ...     vzak  pos
15    11.08.2022  11:00:23  ...  offline 1.00
16    11.08.2022  11:00:23  ...  offline 2.00
20    11.08.2022  11:31:34  ...  offline 1.00
21    11.08.2022  11:31:34  ...  offline 2.00
22    11.08.2022  11:36:05  ...  offline 1.00
...          ...       ...  ...      ...  ...
4456  12.08.2022  21:39:23  ...  offline 1.00
4457  12.08.2022  21:40:17  ...  offline 1.00
4458  12.08.2022  21:40:59  ...  offline 1.00
4459  12.08.2022  21:43:48  ...  offline 1.00
4460  12.08.2022  21:44:46  ...  offline 1.00

[2697 rows x 18 columns]

In [27]:
# one way of dealing with NA is replacing it with something using function fillna()
edited_df = edited_df.fillna(0)

In [28]:
edited_df.isna().any()

date            False
time            False
n_chk           False
n_doc           False
apt             False
name_drugs      False
amnt            False
purch_price     False
retail_price    False
disc            False
pay_type        False
drug_id         False
supplier        False
disc_id         False
disc_barcode    False
employee        False
vzak            False
pos             False
dtype: bool

In [29]:
# but if i have data which cant be replaced with 0 (speed, time etc. - if i replace it by zero it will affect calculations)
# i can use interpolation
edited_df.interpolate(method='cubic') # for each data should be used the most appropriate method

/var/folders/m2/02db1vqj4dn9n70qsljztby00000gn/T/ipykernel_97134/2676509850.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  edited_df.interpolate(method='cubic') # for each data should be used the most appropriate method

            date      time  ...     vzak  pos
0     11.08.2022  10:15:35  ...  offline 1.00
1     11.08.2022  10:27:46  ...  offline 1.00
2     11.08.2022  10:27:46  ...  offline 2.00
3     11.08.2022  10:27:46  ...  offline 3.00
4     11.08.2022  10:33:56  ...  offline 1.00
...          ...       ...  ...      ...  ...
4457  12.08.2022  21:40:17  ...  offline 1.00
4458  12.08.2022  21:40:59  ...  offline 1.00
4459  12.08.2022  21:43:48  ...  offline 1.00
4460  12.08.2022  21:44:46  ...  offline 1.00
4461  12.08.2022  21:46:08  ...  offline 1.00

[4462 rows x 18 columns]

In [30]:
# and also i can just delete all rows with NA
edited_df.dropna()

            date      time  ...     vzak  pos
0     11.08.2022  10:15:35  ...  offline 1.00
1     11.08.2022  10:27:46  ...  offline 1.00
2     11.08.2022  10:27:46  ...  offline 2.00
3     11.08.2022  10:27:46  ...  offline 3.00
4     11.08.2022  10:33:56  ...  offline 1.00
...          ...       ...  ...      ...  ...
4457  12.08.2022  21:40:17  ...  offline 1.00
4458  12.08.2022  21:40:59  ...  offline 1.00
4459  12.08.2022  21:43:48  ...  offline 1.00
4460  12.08.2022  21:44:46  ...  offline 1.00
4461  12.08.2022  21:46:08  ...  offline 1.00

[4462 rows x 18 columns]

In [31]:
# this way i can create new column in df
edited_df['hour'] = pd.to_datetime(edited_df.time).dt.hour

/var/folders/m2/02db1vqj4dn9n70qsljztby00000gn/T/ipykernel_97134/2384989665.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  edited_df['hour'] = pd.to_datetime(edited_df.time).dt.hour