In [2]:
import pandas as pd

In [4]:
# using encoding because file has cyrillic characters
df = pd.read_csv('data.txt', encoding='windows-1251')

In [15]:
# display n-amount of first rows of dataframe (default 5)
df.head(10)

       DR_Dat    DR_Tim  ...  DR_VZak  DR_Pos
0  2022-08-11  10:15:35  ...        1     1.0
1  2022-08-11  10:27:46  ...        1     1.0
2  2022-08-11  10:27:46  ...        1     2.0
3  2022-08-11  10:27:46  ...        1     3.0
4  2022-08-11  10:33:56  ...        1     1.0
5  2022-08-11  10:40:38  ...        1     1.0
6  2022-08-11  10:40:38  ...        1     2.0
7  2022-08-11  10:52:52  ...        1     3.0
8  2022-08-11  10:52:52  ...        1     4.0
9  2022-08-11  10:52:52  ...        1     5.0

[10 rows x 21 columns]

In [21]:
# display n-amount of last rows (default 5)
df.tail()

          DR_Dat    DR_Tim  ...  DR_VZak  DR_Pos
4457  2022-08-12  21:40:17  ...        1    1.00
4458  2022-08-12  21:40:59  ...        1    1.00
4459  2022-08-12  21:43:48  ...        1    1.00
4460  2022-08-12  21:44:46  ...        1    1.00
4461  2022-08-12  21:46:08  ...        1    1.00

[5 rows x 21 columns]

In [ ]:
pd.set_option('display.max_columns', 5)
pd.describe_option() # describes all available options
pd.set_option('display.float_format', '{:.2f}'.format) # i can change format of the data

In [ ]:
df.dtypes # shows type of data in columns

DR_Dat         object
DR_Tim         object
DR_NChk         int64
DR_NDoc         int64
DR_Apt          int64
DR_Kkm          int64
DR_TDoc        object
DR_TPay         int64
DR_CDrugs       int64
DR_NDrugs      object
DR_Suppl       object
DR_Prod        object
DR_Kol        float64
DR_CZak       float64
DR_CRoz       float64
DR_SDisc      float64
DR_CDisc      float64
DR_BCDisc     float64
DR_TabEmpl      int64
DR_VZak         int64
DR_Pos        float64
dtype: object

In [24]:
# shows amount of columns and rows
df.shape

(4462, 21)

In [ ]:
# shows amount of elements
df.size

93702

In [26]:
df.columns

Index(['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 'DR_Apt', 'DR_Kkm', 'DR_TDoc',
       'DR_TPay', 'DR_CDrugs', 'DR_NDrugs', 'DR_Suppl', 'DR_Prod', 'DR_Kol',
       'DR_CZak', 'DR_CRoz', 'DR_SDisc', 'DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl',
       'DR_VZak', 'DR_Pos'],
      dtype='object')

In [30]:
# here is a list with columns that ill need, i also changed their order
user_columns = ['DR_Dat', 'DR_Tim', 'DR_NChk', 'DR_NDoc', 
                'DR_Apt', 'DR_NDrugs', 'DR_Kol', 'DR_CZak', 'DR_CRoz', 
                'DR_SDisc', 'DR_TPay', 'DR_CDrugs',  
                'DR_Suppl','DR_CDisc', 'DR_BCDisc', 'DR_TabEmpl',
                'DR_VZak', 'DR_Pos']

In [33]:
# than i can just add here this list
df[['DR_Dat', 'DR_Tim']] # i can also write them individualy like this
edited_df = df[user_columns]
edited_df.head()

       DR_Dat    DR_Tim  ...  DR_VZak  DR_Pos
0  2022-08-11  10:15:35  ...        1    1.00
1  2022-08-11  10:27:46  ...        1    1.00
2  2022-08-11  10:27:46  ...        1    2.00
3  2022-08-11  10:27:46  ...        1    3.00
4  2022-08-11  10:33:56  ...        1    1.00

[5 rows x 18 columns]

In [36]:
# to change names of the columns i need to rename them with method columns
edited_df.columns = ['date', 'time', 'n_chk', 'n_doc', 'apt', 'name_drugs',
       'amnt', 'purch_price', 'retail_price', 'disc', 'pay_type', 'drug_id',
       'supplier', 'disc_id', 'disc_barcode', 'employee', 'vzak', 'pos']

In [37]:
edited_df.head()

         date      time  ...  vzak  pos
0  2022-08-11  10:15:35  ...     1 1.00
1  2022-08-11  10:27:46  ...     1 1.00
2  2022-08-11  10:27:46  ...     1 2.00
3  2022-08-11  10:27:46  ...     1 3.00
4  2022-08-11  10:33:56  ...     1 1.00

[5 rows x 18 columns]

In [40]:
edited_df.dtypes

date             object
time             object
n_chk             int64
n_doc             int64
apt               int64
name_drugs       object
amnt            float64
purch_price     float64
retail_price    float64
disc            float64
pay_type          int64
drug_id           int64
supplier         object
disc_id         float64
disc_barcode    float64
employee          int64
vzak              int64
pos             float64
dtype: object

In [50]:
# if i need to change type of the column i car write like this
edited_df['disc_barcode'].astype('str').replace(r'\.0', '', regex = True) # last part with replace is example of using regex without re

0       200000000492
1       200010010204
2       200010010204
3       200010010204
4       200000000492
            ...
4457             nan
4458             nan
4459             nan
4460             nan
4461    200010027618
Name: disc_barcode, Length: 4462, dtype: object

In [ ]:
# after changing type i need to rewrite initial dataframe 
edited_df['disc_barcode'] = edited_df['disc_barcode'].astype('str').replace(r'\.0', '', regex = True)

In [ ]:
# if i want to change format of the date in date column i can use this
pd.to_datetime(edited_df['date']).dt
# by using dt i get access to many methods and functions similar to datetime library, one of them is strftime()
pd.to_datetime(edited_df['date']).dt.strftime('%d.%m.%Y')
# to change it in initial dataframe i need to rewrite it
edited_df['date']= pd.to_datetime(edited_df['date']).dt.strftime('%d.%m.%Y')

In [57]:
edited_df.head()

         date      time  ...  vzak  pos
0  11.08.2022  10:15:35  ...     1 1.00
1  11.08.2022  10:27:46  ...     1 1.00
2  11.08.2022  10:27:46  ...     1 2.00
3  11.08.2022  10:27:46  ...     1 3.00
4  11.08.2022  10:33:56  ...     1 1.00

[5 rows x 18 columns]

In [58]:
# this way i can get unique values from column
edited_df['vzak'].unique()

array([1, 2])

In [ ]:
# if i want to replace values in column i need to do this
edited_df['vzak'] = edited_df['vzak'].astype('str').replace('1', 'offline').replace('2', 'online')
# firstly i changed type to str, then replaced values with regular replace function

In [63]:
edited_df.head()

         date      time  ...     vzak  pos
0  11.08.2022  10:15:35  ...  offline 1.00
1  11.08.2022  10:27:46  ...  offline 1.00
2  11.08.2022  10:27:46  ...  offline 2.00
3  11.08.2022  10:27:46  ...  offline 3.00
4  11.08.2022  10:33:56  ...  offline 1.00

[5 rows x 18 columns]