In [1]:
import numpy as np

In [2]:
float_formatter = lambda x: "{:.2f}".format(x)
np.set_printoptions(formatter={'float_kind': float_formatter})

In [3]:
# this is some taxi drive data - trip, payment, distance, time, etc
data = np.genfromtxt('data.txt', delimiter=',', skip_header=True)

In [4]:
data

array([[2.016e+03, 1.000e+00, 1.000e+00, ..., 1.165e+01, 6.999e+01,
        1.000e+00],
       [2.016e+03, 1.000e+00, 1.000e+00, ..., 8.000e+00, 5.430e+01,
        1.000e+00],
       [2.016e+03, 1.000e+00, 1.000e+00, ..., 0.000e+00, 3.780e+01,
        2.000e+00],
       ...,
       [2.016e+03, 6.000e+00, 3.000e+01, ..., 5.000e+00, 6.334e+01,
        1.000e+00],
       [2.016e+03, 6.000e+00, 3.000e+01, ..., 8.950e+00, 4.475e+01,
        1.000e+00],
       [2.016e+03, 6.000e+00, 3.000e+01, ..., 0.000e+00, 5.484e+01,
        2.000e+00]], shape=(89560, 15))

In [8]:
np.set_printoptions(formatter={'float_kind': float_formatter})
data

array([[2016.00, 1.00, 1.00, ..., 11.65, 69.99, 1.00],
       [2016.00, 1.00, 1.00, ..., 8.00, 54.30, 1.00],
       [2016.00, 1.00, 1.00, ..., 0.00, 37.80, 2.00],
       ...,
       [2016.00, 6.00, 30.00, ..., 5.00, 63.34, 1.00],
       [2016.00, 6.00, 30.00, ..., 8.95, 44.75, 1.00],
       [2016.00, 6.00, 30.00, ..., 0.00, 54.84, 2.00]], shape=(89560, 15))

In [5]:
# for some reason my np.set_printoptions does not work globally
np.set_printoptions(formatter={'float_kind': float_formatter})
data
# here i want to find mean speed, but since i dint have speed data i need to find it
speed_arr = data[:,7] / (data [:,8]/3600)
speed_arr.mean()

np.float64(32.24258580925573)

In [6]:
# here i want to find ammount of rides in february
np.set_printoptions(formatter={'float_kind': float_formatter})
# here im filtering by month number in second column (index 1)
data[data[:,1] == 2]
# by taking only first value frim shape i can see how many rides were in february
data[data[:,1] == 2].shape[0]

13333

In [7]:
# how mane rides were where tips were more than 50
data[data[:,-3] > 50].shape[0]

16